In [1]:
pip install -r requirements.txt
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
path1=Path('D:/Documents/philippea/OneDrive - BRGM/FutuRaM/MinW')
name_file='Midi-pyrenees.xlsx'
path1=path1 / name_file

In [4]:
feuille1_salau=pd.read_excel(path1,sheet_name='Table 50',skiprows=1,header=None)

In [24]:
result = feuille1_salau[feuille1_salau.iloc[:,0].str.contains('VOLUME|granu|nom', case=False, na=False)]
result

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,NOM SECTEUR :,NaN,NaN,Pic-de-la-Fourque,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Département :,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
1,NOM TITRE/SITE :,NaN,NaN,PIC-DE-LA-FOURQUE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Identifiant dépôt :,NaN,NaN,NaN,NaN,NaN,09_0019_A_T1,NaN,NaN
4,Nom usuel du dépôt :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,VOLUME :,NaN,NaN,NaN,NaN,NaN,> 100 000 m³,NaN,NaN,NaN,...,NaN,20° à 50°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,GRANULOMETRIE :,NaN,NaN,NaN,NaN,NaN,< mm,NaN,NaN,NaN,...,NaN,> 20 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
num_table=np.linspace(34,102,18)
list_page1_table=['Table '+ str(int(val)) for val in num_table]
num_table2=np.linspace(37,105,18)
list_page4_table=['Table '+ str(int(val)) for val in num_table2]

In [48]:
i=0
for table in list_page1_table:
    info_sect=pd.read_excel(path1,sheet_name=table,skiprows=1,header=None,skipfooter=43,usecols=[0,3,17,22,25,31])
    index=list(info_sect.iloc[:,0])+list(info_sect.iloc[:,2])+list(info_sect.iloc[:,4])
    val=list(info_sect.iloc[:,1])+list(info_sect.iloc[:,3])+list(info_sect.iloc[:,5])
    info_sect_new=pd.DataFrame(data=val,columns=['value'],index=index)
    volume_pd=pd.read_excel(path1,sheet_name=table,skiprows=44,header=None,usecols=[0,6,17,25])
    index=list(volume_pd.iloc[:,0])+list(volume_pd.iloc[:,2])
    val=list(volume_pd.iloc[:,1])+list(volume_pd.iloc[:,3])
    volume_pd_new=pd.DataFrame(data=val,columns=['value'],index=index)
    sheet4=list_page4_table[i]
    elements_pd=pd.read_excel(path1,sheet_name=sheet4,skiprows=15,header=[0],usecols=[0,2,3,4,6,7,9,10,12,15,16,18,20],index_col='Identifiant Mesure')
    #coord_pd=pd.read_excel(path1,sheet_name=sheet4,skiprows=4,skipfooter=11,header=[0],usecols=[0,13,17],index_col='Identifiant Mesure')
    #valeur_mine=pd.concat([elements_pd,coord_pd],axis=1)
    i+=1
    writer = pd.ExcelWriter('D:/Documents/philippea/OneDrive - BRGM/FutuRaM/MinW/valeurs_mines_midi_pyrenees.xlsx')
    id_depot=info_sect_new.loc['Identifiant dépôt :'].value
    #info_sect_new.to_excel('D:/Documents/philippea/OneDrive - BRGM/FutuRaM/MinW/valeurs_mines.xlsx')
    info_sect_new.to_excel(writer,id_depot, startrow=1)
    volume_pd_new.to_excel(writer,sheet_name=id_depot,startrow=9)
    elements_pd.to_excel(writer,sheet_name=id_depot,startrow=15)
    writer.close()

KeyError: 'Identifiant dépôt :'

In [47]:
pd.read_excel(path1,sheet_name=sheet4,skiprows=6,skipfooter=11)#,header=[0],usecols=[0,13,17],index_col='Identifiant Mesure')

Empty DataFrame
Columns: [Identifiant Mesure, Unnamed: 1, Unnamed: 2, Mesure NITON®, Unnamed: 4, Unnamed: 5, Echantillon solide, Unnamed: 7, Unnamed: 8, Echantillon liquide, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, X (Lambert 93), Unnamed: 15, Unnamed: 16, Unnamed: 17, Y (Lambert 93), Unnamed: 19, Unnamed: 20, Unnamed: 21]
Index: []

[0 rows x 22 columns]

In [50]:
info_sect_new

                    value
NOM SECTEUR :     Sentein
NOM TITRE/SITE :  SENTEIN
NaN                   NaN
NaN                   NaN
NaN                   NaN
NaN                   NaN

In [46]:
elements_pd

,Pb\n(ppm),Unnamed: 3,Zn\n(ppm),Unnamed: 6,As\n(ppm),Unnamed: 9,Sb\n(ppm),Unnamed: 12,Unnamed: 15,Al\n(ppm),Unnamed: 18,Unnamed: 20
Identifiant Mesure,,,,,,,,,,,,
09_0023_D_T2_S1,4250,NaN,12600,NaN,185,NaN,"17,6",NaN,NaN,NaN,NaN,NaN
09_0023_D_T2_N1,"1783,06",NaN,"5972,33",NaN,< LOD,NaN,< LOD,NaN,NaN,NaN,NaN,NaN

In [ ]:
feuille1_salau=pd.read_excel(path1,sheet_name='Table 50',skiprows=1,header=None)

In [ ]:
info_sect=pd.read_excel(path1,sheet_name='Table 50',skiprows=1,header=None,skipfooter=43,usecols=[0,3,17,22,25,31])
index=list(info_sect.iloc[:,0])+list(info_sect.iloc[:,2])+list(info_sect.iloc[:,4])
val=list(info_sect.iloc[:,1])+list(info_sect.iloc[:,3])+list(info_sect.iloc[:,5])

info_sect_new=pd.DataFrame(data=val,columns=['value'],index=index)
info_sect_new

In [ ]:
volume_pd=pd.read_excel(path1,sheet_name='Table 50',skiprows=44,header=None,usecols=[0,6,17,25])

index=list(volume_pd.iloc[:,0])+list(volume_pd.iloc[:,2])
val=list(volume_pd.iloc[:,1])+list(volume_pd.iloc[:,3])

volume_pd_new=pd.DataFrame(data=val,columns=['value'],index=index)
volume_pd_new

In [ ]:
elements_pd=pd.read_excel(path1,sheet_name='Table 53',skiprows=15,header=[0],usecols=[0,2,3,4,6,7,9,10,12,15,16,18,20],index_col='Identifiant Mesure')
elements_pd

coord_pd=pd.read_excel(path1,sheet_name='Table 53',skiprows=4,skipfooter=11,header=[0],usecols=[0,13,17],index_col='Identifiant Mesure')#,usecols=[13,17])
valeur_mine=pd.concat([elements_pd,coord_pd],axis=1)

In [ ]:
#save to excel
writer = pd.ExcelWriter('D:/Documents/philippea/OneDrive - BRGM/FutuRaM/MinW/valeurs_mines.xlsx')
id_depot=info_sect_new.loc['Identifiant dépôt :'].value
#info_sect_new.to_excel('D:/Documents/philippea/OneDrive - BRGM/FutuRaM/MinW/valeurs_mines.xlsx')
info_sect_new.to_excel(writer,id_depot, startrow=1)
volume_pd_new.to_excel(writer,sheet_name=id_depot,startrow=9)
valeur_mine.to_excel(writer,sheet_name=id_depot,startrow=15)
writer.close()

In [ ]:
info_sect_new.loc['Identifiant dépôt :'].value

In [ ]:
feuille1_salau

In [ ]:
pd.read_excel(path1,sheet_name='Table 46')